$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
}

img {
    width: 25vw;
    height: 35vh;
    object-fit: cover;
}

section {
    display: flex;
    flex-wrap: wrap
}

nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: center;
    padding: 0;
    a {
        @include white-text-black-bg;
        div {
            font-size: xx-large;
            margin: 2vh;
        }
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
    input {
        background-color: rgb(244, 255, 255);
        width: 20vw;
        height: 5vh;
        padding: 5px;
        margin: 5px 5px 0;
        border: none;
        border-radius: 10px;
        font-size: large;
    }
}

.submitbutton {
    background-color: rgb(9, 156, 9);
    color: white;
    font-weight: 400;
    height: 7vh;
    width: 20.75vw;
}

.showInput {
    height: 6vh;
    width: 69.25vw;
}

.showImage {
    border-radius: 20px;
    width: 70vw;
    height: 55vh;
    object-fit: cover;
}

input:hover {
    background-color: rgb(234, 250, 255);
}

.cheesebox {
    margin: 0;
    width: 25vw;
    height: 35vh;
    position: relative;
    h1 {
        position: relative;
        bottom: 2vh;
        left: 1vw;
    }
    h3 {
        position: relative;
        left: 1vw;
        top: 18vh;
        color: white;
    }
    h1, h3 {
        filter: drop-shadow(1px 1px 6px black);
    }
}

.showcheesebox {
    margin: 1vh 1vw;
    width: 70vw;
    height: 55vh;
    position: relative;
    h1 {
        position: relative;
        font-size: 7vh;
        bottom: 5vh;
        left: 1vw;
    }
    h3 {
        position: relative;
        font-size: 4vh;
        left: 1vw;
        top: 29vh;
        color: white;
    }
    h1, h3 {
        filter: drop-shadow(1px 1px 6px black);
    }
}

.individualCheese {
    margin: 0;
}

.cheeseText {
    position: absolute;
    text-align: left;
    top: 0;
}

.individualCheese:hover {
    filter: brightness(110%);
}

.updateForm {
    display: flex;
    flex-direction: column;
}

.showsection {
    display: flex;
    justify-content: center;
}